set_io i_Clk 15

# set_io o_LED_1 56
# set_io o_LED_2 57
# set_io o_LED_3 59
# set_io o_LED_4 60

# set_io i_Switch_1 53
# set_io i_Switch_2 51
# set_io i_Switch_3 54
# set_io i_Switch_4 52

# set_io o_Segment1_A 3
# set_io o_Segment1_B 4
# set_io o_Segment1_C 93
# set_io o_Segment1_D 91
# set_io o_Segment1_E 90
# set_io o_Segment1_F 1
# set_io o_Segment1_G 2
# set_io o_Segment2_A 100
# set_io o_Segment2_B 99
# set_io o_Segment2_C 97
# set_io o_Segment2_D 95
# set_io o_Segment2_E 94
# set_io o_Segment2_F 8
# set_io o_Segment2_G 96
